@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body, html {
    font-family: 'Lato', sans-serif !important;
}
body {
    padding-top: 70px;
}
.center {
    max-width: 940px;
    margin: 0 auto;
    display: block;
    position: relative;
}

.list-posts {
    padding: 0;
}

.list-posts li {
    padding: 0;
    list-style: none;
    padding: 15px;
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.15);
    margin: 15px 0;
}

.list-posts li .title {
    color: rgb(75, 154, 173);
    margin: 0 0 10px;
}

.list-posts li .date {
    font-weight: bold;
    margin: 5px 0;
    display: block;
}